<header class="row">
  <div class="container">
    <div class="row">
      <div class="logo col-sm-6">
        <div class="row">
          <a [routerLink]="['']"
            ><img
              src="assets/images/FettleForum_Logo.png"
              height="75"
              alt="FettleForum logo"
          /></a>
        </div>
      </div>
      <div class="social_nav col-sm-6">
        <br />
        <br />
        <div
          class="row"
          style="float: right"
          *ngIf="showSearchBarArray(['store', 'services', 'category'])"
        >
          <a
            [routerLink]="['/services']"
            class="tempNav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
          <a
            [routerLink]="['/stores']"
            class="tempNav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All Stores</a
          >
          <a
            [routerLink]="['/category', 'electronics']"
            class="tempNav"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Categories</a
          >
        </div>
        <div class="row" *ngIf="false">
          <ul class="list-inline fright">
            <li>
              <a
                [routerLink]="['/stores']"
                class="navBttn"
                *ngIf="!showSearchBar('/store')"
                ><span>Services</span></a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="social_nav col-sm-6">
        <br />
        <div class="row">
          <ul class="list-inline fright">
            <li>
              <a
                href="https://www.facebook.com/profile.php?id=100089821992120"
                target="_blank"
                ><fa-icon [icon]="faFacebook"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/fettleforum/" target="_blank"
                ><fa-icon [icon]="faInstagram"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/fettle_forum" target="_blank"
                ><fa-icon [icon]="faTwitter"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/fettleforum/" target="_blank"
                ><fa-icon [icon]="faPinterest"></fa-icon
              ></a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div
      class="row"
      *ngIf="showSearchBarArray(['store', 'services', 'category'])"
    >
      <div class="col-sm-2"></div>
      <div class="col-sm-8 m0 commentForm" style="margin-bottom: 0">
        <form class="row m0" id="searchForm">
          <div class="col-sm-12 p0 commenterInfoInputs">
            <div class="row m0">
              <div class="input-group" style="margin-bottom: 0">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  required
                  [(ngModel)]="searchText"
                  placeholder="Search by Brand name or Website.."
                  style="font-size: 1.15em"
                  (input)="searchFunc(searchText)"
                  (focus)="switch = true"
                  (focusout)="focusOutFunc()"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- <div class="row myDropdown" *ngIf="searchText && switch"> -->
<div class="row myDropdown" *ngIf="searchText && switch">
  <div class="col-sm-4"></div>
  <aside class="col-sm-4 sidebar">
    <div class="row m0 recentPostWidget widgetS" style="margin-bottom: 10px">
      <div class="row m0 recentblogs">
        <div class="media recentblog" *ngIf="noResult">
          <h6 class="noResult">
            No result found for <b>{{ searchText }}</b>
          </h6>
        </div>
        <div
          class="media recentblog"
          *ngFor="let store of storeArray | keyvalue"
        >
          <div
            class="media-left"
            [routerLink]="['/stores', store.value.storeURL]"
          >
            <a>
              <img
                class="media-object"
                [src]="store.value.img"
                alt="Brand image"
              />
            </a>
          </div>
          <div
            class="media-body"
            [routerLink]="['/stores', store.value.storeURL]"
          >
            <a
              ><h5 class="media-heading">{{ store.value.name }}</h5></a
            >
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
<nav
  class="navbar navbar-default navbar-static-top"
  *ngIf="!showSearchBarArray(['store', 'services', 'category']) && categoryArr"
>
  <div class="container-fluid container">
    <div class="row m04m">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#main_nav"
        >
          <span class="bars">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <span class="btn-text">Select Page</span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav navbar-nav">
          <li
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Home</a>
          </li>
          <li class="dropdown" *ngIf="showSearchBar('/store') && categoryArr">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              [routerLink]="['/categories']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Categories</a
            >
            <ul class="dropdown-menu" role="menu">
              <li *ngFor="let cat of categoryArr | keyvalue">
                <a [routerLink]="['/category', cat.value.categoryURL]">{{
                  cat.value.name
                }}</a>
              </li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >projects</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="projects_full.html">Full Width Projects</a></li>
              <li><a href="projects2.html">2 Collumn Projects</a></li>
              <li><a href="projects3.html">3 Collumn Projects</a></li>
            </ul>
          </li> -->
          <li
            [routerLink]="['/blogs']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Blogs</a>
          </li>
          <li
            [routerLink]="['/about']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>About</a>
          </li>
          <li
            [routerLink]="['/privacy']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Privacy</a>
          </li>
          <li
            [routerLink]="['/termsandconditions']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Terms</a>
          </li>
          <!-- <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >news</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog2.html">Blog 2 Col</a></li>
              <li><a href="blog3.html">Blog 3 Col</a></li>
              <li><a href="single-post.html">Sinlge Post</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >contact</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="contact.html">Conact us</a></li>
              <li><a href="contact2.html">Conact us 2</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
