<header class="row">
  <div class="container">
    <div class="row">
      <div class="logo col-sm-6">
        <div class="row">
          <a [routerLink]="['']"
            ><img
              src="assets/images/FettleForum_Logo.png"
              height="75"
              alt="FettleForum logo"
          /></a>
        </div>
      </div>
      <div class="social_nav col-sm-6">
        <br />
        <div class="row">
          <ul class="list-inline fright">
            <li>
              <a
                href="https://www.facebook.com/profile.php?id=100089821992120"
                target="_blank"
                ><fa-icon [icon]="faFacebook"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/fettleforum/" target="_blank"
                ><fa-icon [icon]="faInstagram"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/fettle_forum" target="_blank"
                ><fa-icon [icon]="faTwitter"></fa-icon
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/fettleforum/" target="_blank"
                ><fa-icon [icon]="faPinterest"></fa-icon
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid container">
    <div class="row m04m">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#main_nav"
        >
          <span class="bars">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <span class="btn-text">Select Page</span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav navbar-nav">
          <li
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Home</a>
          </li>
          <li class="dropdown" *ngIf="categoryArr">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              [routerLink]="['/categories']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Categories</a
            >
            <ul class="dropdown-menu" role="menu">
              <li *ngFor="let cat of categoryArr | keyvalue">
                <a [routerLink]="['/category', cat.value.categoryURL]">{{
                  cat.value.name
                }}</a>
              </li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >projects</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="projects_full.html">Full Width Projects</a></li>
              <li><a href="projects2.html">2 Collumn Projects</a></li>
              <li><a href="projects3.html">3 Collumn Projects</a></li>
            </ul>
          </li> -->
          <li
            [routerLink]="['/blogs']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Blogs</a>
          </li>
          <li
            [routerLink]="['/about']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>About</a>
          </li>
          <li
            [routerLink]="['/privacy']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Privacy</a>
          </li>
          <li
            [routerLink]="['/termsandconditions']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Terms</a>
          </li>
          <!-- <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >news</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog2.html">Blog 2 Col</a></li>
              <li><a href="blog3.html">Blog 3 Col</a></li>
              <li><a href="single-post.html">Sinlge Post</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >contact</a
            >
            <ul class="dropdown-menu" role="menu">
              <li><a href="contact.html">Conact us</a></li>
              <li><a href="contact2.html">Conact us 2</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
