<footer id="nr_footer" class="row">
  <div class="container" style="max-width: 82%; width: 82%">
    <div class="row goTop">
      <a (click)="scrollToTop()" class="scrollTop"
        ><fa-icon [icon]="faAngleUp"></fa-icon
      ></a>
    </div>
    <div class="footerWidget row">
      <div class="col-sm-6 widget">
        <div class="getInTouch_widget row">
          <div class="widgetHeader row m0">
            <img src="assets/images/whiteSquare.png" alt="" />Get in touch
          </div>
          <div class="row getInTouch_tab m0">
            <ul
              class="nav nav-tabs nav-justified"
              role="tablist"
              id="getInTouch_tab"
            >
              <li role="presentation" class="active">
                <a
                  href="#contactFb"
                  aria-controls="contactFb"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faFacebook"></fa-icon
                ></a>
              </li>
              <li role="presentation">
                <a
                  href="#contactInsta"
                  aria-controls="contactInsta"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faInstagram"></fa-icon
                ></a>
              </li>
              <li role="presentation">
                <a
                  href="#contactTwitter"
                  aria-controls="contactTwitter"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faTwitter"></fa-icon
                ></a>
              </li>
              <li role="presentation">
                <a
                  href="#contactPinterest"
                  aria-controls="contactPinterest"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faPinterest"></fa-icon
                ></a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="contactFb">
                <fa-icon [icon]="faFacebook"></fa-icon> Contact us at our
                official Facebook page
                <a
                  href="https://www.facebook.com/profile.php?id=100089821992120"
                  target="_blank" class="socialLink"
                  >FettleForum</a
                >
              </div>
              <div role="tabpanel" class="tab-pane" id="contactInsta">
                <fa-icon [icon]="faInstagram"></fa-icon> Contact us at our
                official Instagram page
                <a href="https://www.instagram.com/fettleforum/" target="_blank" class="socialLink"
                  >FettleForum</a
                >
              </div>
              <div role="tabpanel" class="tab-pane" id="contactTwitter">
                <fa-icon [icon]="faTwitter"></fa-icon> Contact us at our
                official Twitter page
                <a href="https://twitter.com/fettle_forum" target="_blank" class="socialLink"
                  >FettleForum</a
                >
              </div>
              <div role="tabpanel" class="tab-pane" id="contactPinterest">
                <fa-icon [icon]="faPinterest"></fa-icon> Contact us at our
                official Twitter page
                <a href="https://www.pinterest.com/fettleforum/" target="_blank" class="socialLink"
                  >FettleForum</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 widget">
        <div class="row flickrSlider">
          <div class="widgetHeader row m0">
            <img src="assets/images/whiteSquare.png" alt="" />Subscription
            Gallery
          </div>
          <div class="row m0 commentForm">
            <form
              class="row m0"
              id="contactForm"
              (ngSubmit)="addEmailToDB(contactEmail, contactName)"
            >
              <div class="col-sm-10 p0 commenterInfoInputs">
                <div class="row m0">
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><fa-icon [icon]="faUser"></fa-icon
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      required
                      [(ngModel)]="contactName"
                      placeholder="Enter your name"
                    />
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><fa-icon [icon]="faEnvelope"></fa-icon
                    ></span>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      required
                      [(ngModel)]="contactEmail"
                      placeholder="Enter your email"
                    />
                  </div>
                  <button class="btn btn-default" type="submit">
                    Subscribe
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyrightRow">
      &copy; 2023 <a href="#">FettleForum</a>, All Rights Reserved <br />
      We may earn a commission when you use one of our coupons/links to make a
      purchase
    </div>
  </div>
</footer>
