<footer id="nr_footer" class="row">
  <div class="container">
    <div class="row goTop">
      <a (click)="scrollToTop()" class="scrollTop"
        ><fa-icon [icon]="faAngleUp"></fa-icon
      ></a>
    </div>
    <div class="footerWidget row">
      <div class="col-sm-6 widget">
        <div class="getInTouch_widget row">
          <div class="widgetHeader row m0">
            <img src="assets/images/whiteSquare.png" alt="" />Get in touch
          </div>
          <div class="row getInTouch_tab m0">
            <ul
              class="nav nav-tabs nav-justified"
              role="tablist"
              id="getInTouch_tab"
            >
              <li role="presentation" class="active">
                <a
                  href="#contactPhone"
                  aria-controls="contactPhone"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faPhone"></fa-icon
                ></a>
              </li>
              <li role="presentation">
                <a
                  href="#contactEmail"
                  aria-controls="contactEmail"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faEnvelope"></fa-icon
                ></a>
              </li>
              <li role="presentation">
                <a
                  href="#contactHome"
                  aria-controls="contactHome"
                  role="tab"
                  data-toggle="tab"
                  ><fa-icon [icon]="faHome"></fa-icon
                ></a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="contactPhone">
                <fa-icon [icon]="faPhone"></fa-icon> call us at: +399 (500) 321
                9548
              </div>
              <div role="tabpanel" class="tab-pane" id="contactEmail">
                <fa-icon [icon]="faEnvelope"></fa-icon>email us at:
                support@construction.com
              </div>
              <div role="tabpanel" class="tab-pane" id="contactHome">
                <fa-icon [icon]="faHome"></fa-icon>Pawsar, Bicrompur,
                Munshigonj.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 widget">
        <div class="row flickrSlider">
          <div class="widgetHeader row m0">
            <img src="assets/images/whiteSquare.png" alt="" />Subscription
            Gallery
          </div>
          <div class="row m0 commentForm">
            <form
              class="row m0"
              id="contactForm"
              (ngSubmit)="addEmailToDB(contactEmail, contactName)"
            >
              <div class="col-sm-10 p0 commenterInfoInputs">
                <div class="row m0">
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><fa-icon [icon]="faUser"></fa-icon
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      required
                      [(ngModel)]="contactName"
                      placeholder="Enter your name"
                    />
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><fa-icon [icon]="faEnvelope"></fa-icon
                    ></span>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      required
                      [(ngModel)]="contactEmail"
                      placeholder="Enter your email"
                    />
                  </div>
                  <button class="btn btn-default" type="submit">
                    send message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyrightRow">
      &copy; 2023 <a href="#">FettleForum</a>, All Rights Reserved <br />
      We may earn a commission when you use one of our coupons/links to make a
      purchase
    </div>
  </div>
</footer>
