.authorName {
  color: #bd4342;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
}
div.removeXPadding {
  padding-left: 0;
  padding-right: 0;
}
h4.headForMobile {
  padding: 10px 10px;
  margin-bottom: 0;
}
p.paddingX{
  font-size: 15px !important;
  padding-left: 10px;
  padding-right: 10px;
}
a.nxtprvBtn {
  width: auto;
  max-width: 110px;
  line-height: 36px;
  background: #bd4342;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 0;
  padding: 2px 20px;
  max-width: 120px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}