.storeName {
  margin-top: 25px;
  text-transform: capitalize;
}
a.dealBtn {
  width: auto;
  max-width: 120px;
  line-height: 43px;
  background: #bd4342;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 15px;
  border-radius: 0;
  padding: 2px 20px;
  max-width: 120px;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.mainTitle {
  text-align: center;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
div.rightSide {
  padding-left: 30px;
  text-align: center;
}
div.rightSide > p {
  font-size: 1.3em;
}
img.storeImage {
  width: 140px;
  border-radius: 50%;
  border: 2px solid;
  overflow: hidden;
}
