<br />
<div class="container px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item"><a href="">Categories</a></li>
      <li class="breadcrumb-item active">
        <a href="">{{ activeNode }}</a>
      </li>
    </ol>
  </nav>
  <br />
  <div class="container" *ngIf="categoryArr">
    <div class="row">
      <div class="col-sm-12">
        <div class="row m0 leftAlignedTap" style="border:none">
          <ul
            class="nav nav-tabs"
            role="tablist"
            id="myTab"
            style="width: 20%; border: 1px solid black"
          >
            <li
              role="presentation"
              (click)="switchTab(cat.value)"
              [ngClass]="{ active: activeNode == cat.value.name }"
              *ngFor="let cat of categoryArr | keyvalue"
            >
              <a aria-controls="h_tab1" role="tab" data-toggle="tab">
                {{ cat.value.name }}
              </a>
            </li>
          </ul>
          <div class="tab-content" style="width: 80%">
            <div role="tabpanel" class="tab-pane active" id="h_tab1">
              <section
                id="nr_services"
                class="row"
                *ngIf="!isLoading"
                style="padding-top: 0 !important"
              >
                <h2 *ngIf="!storeArr.length" style="text-align: center">
                  No store in this Category
                </h2>
                <div
                  class="container"
                  *ngIf="storeArr.length"
                  style="width: 100%"
                >
                  <div class="row m0 text-center justify-content-md-around">
                    <div
                      class="col-sm-12 col-md-2"
                      *ngFor="let store of storeArr | keyvalue"
                    >
                      <div class="row m0 service">
                        <div class="row m0 innerRow">
                          <img [src]="store.value.img" alt="Store Image" />
                        </div>
                        <div class="serviceName" data-hover="House Rebuilding">
                          {{ store.value.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
