<br />
<div class="container px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active"><a href="">TermsOfUse</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4 text-center">Terms Of Use</h1>
    <hr class="my-4" />
    <br />
    <h2 class="fwBold">Shipping policy:</h2>
    <br />
    <p class="newLineHeight">
      We exclusively provide Cash on Delivery (COD) service for all our
      customers. COD specifically opted for the ease of customers. To make sure
      once you have received the parcel and then pay to the currier.
    </p>
    <br />
    <h2 class="fwBold">How does COD works:</h2>
    <br />
    <p class="newLineHeight">
      In a COD transaction, the recipient pays for the products when they are
      delivered as opposed to needing to do so beforehand (online payment).
    </p>
    <br />
    <h2 class="fwBold">Return policy:</h2>
    <br />
    <p class="newLineHeight">
      Parcel can be returned within 7 days of delivery through courier if you
      find it unsatisfactory by any means. It is hereby important to understand
      that parcel shall be sent back in same condition as received. Refund will
      be provide on spot by the curries once the customer hand over the parcel
      back.
    </p>
    <br />
    <h2 class="fwBold">Please Get In Touch With Us:</h2>
    <br />
    <p class="newLineHeight">
      Do you have inquiries, demands, or worries? Please contact us via
      email.<br /><br />
      Please be mindful of your inbox. Please keep in mind that occasionally,
      emails may end up in your spam folder.<br /><br />
      Additionally, you can find us on social media. It may be necessary to
      schedule the service.
    </p>
  </div>
</div>
