<br />
<!-- <div class="container px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active"><a href="">Stores</a></li>
    </ol>
  </nav>
  <br />
</div> -->
<section id="aboutus" class="row">
  <div class="container">
    <div class="row">
      <aside class="col-sm-12 sidebar">
        <div class="row m0 recentPostWidget widgetS">
          <br />
          <h2>Browse Stores for exciting deals</h2>
          <br />
          <br />
          <div class="row m0 recentblogs" *ngIf="storeArray.length">
            <div
              class="media recentblog"
              *ngFor="let store of storeArray | keyvalue"
            >
              <div
                class="media-left"
                [routerLink]="['/stores', store.value.storeURL]"
              >
                <a>
                  <img
                    class="media-object"
                    [src]="store.value.img"
                    alt="Store Image"
                  />
                </a>
              </div>
              <div
                class="media-body"
                [routerLink]="['/stores', store.value.storeURL]"
              >
                <h4 class="storeName">{{ store.value.name }}</h4>
                <a
                  ><h5
                    class="media-heading"
                    [innerHTML]="store.value.shortDes"
                  ></h5
                ></a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<br />
