<br />
<div class="container px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active"><a href="">Termsandconditions</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4 text-center">Terms & Conditions</h1>
    <hr class="my-4" />
    <br />
    <p class="lead">
      Welcome to <a routerLink="/">FettleForum</a>. We are obliged to host you for visiting and
      considering the services of our site. Before moving further, we’d like you
      to carefully read the terms of service of our site as they would be
      important in constituting the nature of our relationship, including in the
      event of legal disputes and arbitration. Through accessing or utilizing
      our services, you agree to be bound by our Terms and Conditions.
    </p>
    <br />
    <h2 class="fwBold">Our Content</h2>
    <br />
    <p class="newLineHeight">
      <a routerLink="/">FettleForum</a>’s content is copyrighted and is a registered trademark under
      local laws and regulations. Our services shall be utilized solely for the
      purpose intended, and unauthorized use of our trademark, logo and domain
      names is strictly prohibited.
    </p>
    <br />
    <h2 class="fwBold">Use of our Services</h2>
    <br />
    <p class="newLineHeight">
      Our services shall be utilized exclusively for the purpose they were
      rendered for. You agree not to use our services to challenge any local
      statutory obligation. Using our service for posting content that is
      against general community guidelines (i.e. pornography, hate-speech,
      obscene, harassing, violent, promoting self-harm of others) would lead to
      termination of your account and suspension of your service.
    </p>
    <br />
    <h2 class="fwBold">Content</h2>
    <br />
    <p class="newLineHeight">
      Your content shall include any article, photos, comments or any other
      medium. The user retains complete independence of creating content and
      publishing it on our website. By posting your content on our site, you
      would have agreed to allow <a routerLink="/">FettleForum</a> to use that content in a way that
      is necessary for providing you our services.<br /><br />
      You are responsible for the content that you produce and assume all
      responsibilities and risks associated before and after its published on
      our site. We also have the right to disable or remove the access to any
      content published on our site for any reason deemed necessary.
    </p>
    <br />
    <h2 class="fwBold">You agree not to send us</h2>
    <br />
    <p class="newLineHeight">
      any malware or computer software intended to damage or alter a computer
      system or data. <br /><br />Unauthorized or unregulated emails, messages
      or any promotional content <br /><br />Any malware content that disrupts
      our servers and computer networks. <br /><br />Any software or harmful
      content that attempt to give you unauthorized access to <a routerLink="/">FettleForum</a>, its
      systems or property.
    </p>
    <br />
    <h2 class="fwBold">Modification on terms of Service</h2>
    <br />
    <p class="newLineHeight">
      The terms of service can be modified from time to time and users would be
      duly notified prior to revision of terms of service in our site. If you
      have suggestions that could enhance our level of service, please do share
      us on our official email.
    </p>
  </div>
</div>
