<br />
<section id="aboutus" class="row" *ngIf="couponsArray">
  <div class="container">
    <div class="row">
      <aside class="col-sm-12 sidebar">
        <div class="row m0 recentPostWidget widgetS">
          <br />
          <h2 style="text-decoration: underline">Featured Deals</h2>
          <br />
          <br />
          <div class="row m0 recentblogs">
            <div
              class="media recentblogg"
              *ngFor="let coupon of couponsArray | keyvalue"
            >
              <a
                class="dealBtn"
                *ngIf="coupon.value.activeStatus"
                (click)="getDealFunc(coupon.value)"
                >Get Deal</a
              >
              <a
                class="dealBtn"
                *ngIf="!coupon.value.activeStatus"
                (click)="showCopyCodeDialog(coupon.value)"
                >Copy Code</a
              >
              <div class="media-left">
                <a>
                  <img
                    class="media-object"
                    [src]="coupon.value.storeId.img"
                    alt="Store picture"
                  />
                </a>
              </div>
              <div class="media-body">
                <h4 class="storeName">{{ coupon.value.offerBox }}</h4>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<br />
<!-- <section id="aboutus" class="row">
  <div class="container" style="max-width:90%;width: 90%;">
    <div class="row" *ngIf="couponsArray">
      <div class="col-sm-12">
        <div class="row aboutContent">
          <div class="row m0 members">
            <div
              class="col-sm-4 member3_1 member"
              *ngFor="let coupon of couponsArray | keyvalue"
            >
              <div class="row m0">
                <div class="row m0 memImg">
                  <img [src]="storePic" alt="Store picture" />
                </div>
                <div class="row m0 memberIntro">
                  <div class="row m0 name">{{ coupon.value.offerBox | slice:0:44 }}</div>
                  <div class="row m0 pro">Active Deal</div>
                  <div class="row m0">
                    <ul class="list-inline memberSocial">
                      <li *ngIf="coupon.value.activeStatus">
                        <a><span>Get Deal</span></a>
                      </li>
                      <li *ngIf="!coupon.value.activeStatus" (click)="showCopyCodeDialog(coupon.value)">
                            <a><span>Copy Code</span></a>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br /> -->
