<br />
<div class="container px-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active"><a href="">Termsandconditions</a></li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4 text-center">Privacy Policy</h1>
    <hr class="my-4" />
    <br />
    <p class="lead">
      We are dedicated to keeping your personally identifiable information
      ("Personal Information") accurate, private, and secure. Our privacy policy
      sets down the rules for how we will collect, use, and disclose personal
      information as part of this promise. <br /><br />
      Please be aware that the information gathered is used to improve the user
      interface and streamline your searches so you may enjoy using the service
      more. By utilizing the service, you give us permission to gather and use
      your information in line with the terms of service and privacy statement.
    </p>
    <br />
    <h2 class="fwBold">Data collection</h2>
    <br />
    <p class="newLineHeight">
      You provide personal information to us when you use our services, open an
      account with us, or fill out a form on the website that requests it. When
      you use our services, you provide us with personal information, which we
      collect. Your first and last name, mailing address, email address, phone
      number, and credit card or payment account details are all included in
      this information. When you contact one of our departments, such as
      customer service, or fill out online forms or surveys on the Site, we also
      gather your personal information.<br /><br />
      Your information may be gathered and used by
      <a routerLink="/">FettleForum</a>, site users, and the general public if
      you publish it in a public part of the website, such as a customer review.
      We firmly advise against posting any information on the Site that could be
      used to identify or locate you by a total stranger or that you would
      otherwise not want to be made public.
    </p>
    <br />
    <h2 class="fwBold">Definitions and interpretations</h2>
    <br />
    <p class="newLineHeight">
      Any capitalized word's meaning is outlined in the following clauses.
      Whether the definitions below are written or displayed in the singular or
      plural, they all have the same purpose.
    </p>
    <br />
    <h2 class="fwBold">Only for this privacy policy</h2>
    <br />
    <p class="newLineHeight">
      Account refers to any account set up to use the platform or our services.
      In this policy, the company "<a routerLink="/">FettleForum</a>" is
      referred to as either "The Company".<br /><br />
      Cookies are small files that websites place on your computer, mobile
      device, or other device, which, among other things, save the specifics of
      your browsing history on those websites. Any device with access to the
      Service is referred to as a gadget, including a computer, a mobile phone,
      and electronic tablets.<br /><br />
      Any information related to a notable or recognizable person is called
      individual or personal data.<br /><br />
      Service a website reference.<br /><br />
      Any regular or lawful person who processes information for the benefit of
      the Company is referred to as a service provider. It relates to outside
      companies or individuals that the Company uses to work with the Service,
      to provide Support for the Company's advantage, to carry out
      Service-related services, or to assist the Company in dissecting how the
      Service is used.<br /><br />
      Utilization/Usage Data refers to information obtained from using the
      service or from the service's infrastructure (for example, the amount of
      time spent on a page).<br /><br />
      Site refers to <a routerLink="/">FettleForum</a>, which is accessible via
      <a routerLink="/">FettleForum</a>. <br /><br />You refers to the person
      accessing or using the service or the business or other authorized entity
      for which the person is accessing or using the service.
    </p>
    <br />
    <h2 class="fwBold">Cookies</h2>
    <br />
    <p class="newLineHeight">
      When you visit our websites, a cookie, a tiny data file, or a piece of
      information may be placed on your computer's hard drive. We may use
      cookies to enhance the functionality of our website and, in certain
      situations, to give users a more personalized online experience. Most web
      browsers are initially set up to accept cookies because they are
      frequently used automatically. You may modify your Internet browser's
      settings to stop your computer from getting cookies or to alert you when
      one is sent so you can choose whether or not to accept it. Please be aware
      that disabling cookies may prevent you from using our website to its full
      potential.
    </p>
    <br />
    <h2 class="fwBold">Third-party websites</h2>
    <br />
    <p class="newLineHeight">
      Please be aware that we are an affiliate company and that there may be
      content, coupons, advertisements, or blogs that link to third-party
      websites. Any page that includes links to third parties will receive the
      appropriate disclosure.
    </p>
    <br />
    <h2 class="fwBold">Changes to the privacy policy</h2>
    <br />
    <p class="newLineHeight">
      We reserve the right to make changes to the privacy policy at any time for
      any reason. However, we will let you know by updating this page on the
      website or sending you a copy via email. We shall change the "last
      Updated" date on this page and advise you to examine the privacy policy if
      you have any queries about the privacy statement or issues with deleting
      the information gathered.
    </p>
    <!-- <br />
    <br />

    <ul class="px-5 mx-5">
      <li class="termsListItem lead">
        Our attentive team is always alert to save your personal information
        including your name, address, phone number, email id, and address.
      </li>
      <li class="termsListItem lead">
        We pledge to take full responsibility for your order until it gets to
        you at your doorstep, this process has been started from the moment you
        share your data for delivery.
      </li>
      <li class="termsListItem lead">
        We bear and endorse the loss in any case of mishaps with your order as
        we mentioned that we take full responsibility for your parcel
      </li>
      <li class="termsListItem lead">
        For courier services and delivery purposes, we only share your name and
        address with a third party for the verification of payment and
        transaction, and to access the services, we use your personal
        information
      </li>

      <li class="termsListItem lead">
        Your data may be used for market surveys, development, and improvement
        of web content and may also be used for analysis purposes, with keeping
        surety to make it safe and secure.
      </li>
      <li class="termsListItem lead">
        We have the right to cancel any account created by children under 13, we
        don't allow them to register and buy with us without their parent or
        guardian counseling.
      </li>
      <li class="termsListItem lead">
        We collected all your data from a secure server we don't allow any
        unauthorized to see or check your personal information according to our
        policy rule.
      </li>
      <li class="termsListItem lead">
        Furthermore, verifications need some identity checks from time to time,
        it’s your responsibility to secure your passwords from any kind of
        unauthorized user because we may not take responsibility in any case
      </li>
      <li class="termsListItem lead">
        In any case, if you feel threatened by abusing your personal information
        through an unsecured hand at any given point, you've to inform us
        instantly, our customer support representative will be alert and take
        notice of your single call.
      </li>
      <li class="termsListItem lead">
        <a routerLink="/"><a routerLink="/">FettleForum</a>.com</a>, their team, and business partners
        always stand by you for giving you security for intending to make sure
        that the safety of your data and personal information is our
        responsibility.
      </li>
    </ul> -->

    <br />
  </div>
</div>
