.authorName {
  color: #bd4342;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
}
p a {
  color: black;
  font-weight: bold;
}
p a:hover {
  color: #bd4342 !important;
}
// p, p span, p>span{
//   font-size: 18px !important;
// }
.buyBtn {
  height: auto;
  font-size: 1.02em;
  text-transform: capitalize;
  background-color: #bd4342;
  margin-top: 10px;
  padding: 10px 16px;
}
div.gridView,
div.verticalView {
  padding: 10px 50px;
}
div.verticalViewOverWrite {
  padding: 5px 10px;
}
div.gridView > div > img {
  width: 100%;
}
div.verticalView > div > div > img {
  width: 45vw;
}
div.verticalView > div > div.prosCons{
  max-width: 70%;
  margin-left: 15%;
}
div.verticalViewOverWrite > div > div > img {
  width: 76vw;
}
div.verticalViewOverWrite > div > div.prosCons{
  max-width: 96%;
  margin-left: 2%;
}
div.prosParent a.collapsed > fa-icon > svg > path {
  color: #4fa24f !important;
}
div.consParent a.collapsed > fa-icon > svg > path {
  color: #bd4342 !important;
}
h4.panel-title > a.prosHead {
  background: #4fa24f;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700 !important;
  color: white !important;
  margin-bottom: 15px;
}
h4.panel-title > a.consHead {
  background: #bd4342;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700 !important;
  color: white !important;
  margin-bottom: 15px;
}
div.width90Per{
  width: 90% !important;
}
p.paddingX25{
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.65em;
}
p.paddingX10{
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.65em;
}