@import "~swiper/css/bundle";

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100% !important;
// }

.swiper-slide img {
  width: 100% !important;
}

// .swiper-slide {
//   width: 100%;
// }
.authorName {
  color: #bd4342;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
}
.latest-blog {
  cursor: pointer;
}
#container {
  display: flex;
  flex-flow: wrap;
}
img.partnerImg {
  width: 60%;
}
img.partnerImg2 {
  width: 15%;
  margin: auto 70px;
}
img.partnerImgMobile {
  width: 30%;
  margin: auto 70px;
}
.centeredHeading {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  margin-top: 0;
  font-weight: 700;
}
swiper.mySwiper {
  width: 80% !important;
}
div.blogOuter {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
  border-radius: 20px;
  overflow: hidden;
}
